.header {
  z-index: 2;
  background-color: white;
  width: 100%;
  padding: 25px 80px;
  position: fixed;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}
.blueHeader {
  background-color: var(--mainBlue);
}
.blueHeader a, .blueHeader div {
  color: white;
}

.header > nav {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr;
  column-gap: 30px;
  row-gap: 35px;
}

.logotype {
  display: flex;
  align-items: center;
}

.logotype img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.home {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: var(--black);
}

.menu {
  justify-self: end;
  align-self: center;
}

.links {
  display: none;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdownLink {
  top: 120%;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  min-width: 132px;
}
.blueHeader .dropdownLink {
  background-color: var(--mainBlue);
}

.dropdownLink .dropdownLinkItem {
  padding: 20px 10px;
  margin: 0;
}



.dropdownLinkItem:hover {
  background-color: var(--lightBlue);
  border-radius: 10px;
  color: white;
}
.link {
  padding: 10px 0;
}

.langs{
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.langs div:first-child{
  margin-right: 10px;
}

.activeLang{
  text-decoration: underline;
}

@media screen and (max-width: 450px) {
  .header nav {
    grid-template-columns: 2fr 0.5fr;
    column-gap: 10px;
  }
  .home {
    width: unset;
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    color: var(--black);
  }
  .header {
    z-index: 2;
    position: fixed;
    width: 100%;
    padding: 20px 20px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  }
  .logotype {
    outline: none;
  }
  .logotype img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  .menu .logotype {
    margin-bottom: 40px;
  }
  .menu .logotype .home {
    color: #81ceff;
    outline: none;
  }
  .mobileLinks {
    text-transform: uppercase;
    display: flex;
    outline: none;
    height: 380px;
    overflow-y: scroll;
  }
  .mobileLinks .link {
    display: block;
    margin-bottom: 10px;
  }
  .linkFooter {
    position: absolute;
    bottom: 30px;
    border-top: 1px solid white;
    width: calc(100% - 60px);
    padding-top: 20px;
    outline: none;
  }
  .socials {
    display: flex;
  }
  .socials a {
    margin-right: 18px;
  }
  .socials a:last-child {
    margin-right: 0;
  }

  .mobileDropdownMenu .dropdownLinkItem::before{
    content: "•";
  }
  .socialLogo {
    display: flex;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
  }
  .socialLogo svg {
    width: 15px;
    height: 15px;
  }
  .langs {
    display: flex;
    margin-top: 20px;
  }
  .lang {
    color: #bcbcbc;
    font-size: 12px;
    margin-right: 20px;
  }
  .activeLang {
    color: #81ceff;
    font-weight: bold;
  }
  .link{
    padding: 0;
  }
  .mobileLink{
    margin-bottom: 10px;
  }
  .mobileDropdownMenu{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1190px) {
  .links {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 20px;
    text-align: center;
    align-items: center;
  }
  .links a {
    min-width: 90px;
  }
  .links a:last-child {
    margin-right: 0;
  }
  

  .home {
    font-size: 18px;
  }
  .home:hover {
    cursor: pointer;
  }
  .menu {
    display: none;
  }
  .socialLogo {
    display: flex;
    height: 71px;
    width: 71px;
    background-color: white;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
  }
}
