.header {
  z-index: 2;
  background-color: white;
  width: 100%;
  padding: 25px 80px;
  position: fixed;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

.header > nav {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr;
  column-gap: 30px;
  row-gap: 35px;
}

.logotype {
  display: flex;
  align-items: center;
}

.logotype img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.home {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: var(--black);
}

.menu {
  justify-self: end;
  align-self: center;
}

.links {
  display: none;
}

@media screen and (max-width: 450px) {
  .header nav {
    grid-template-columns: 2fr 0.5fr;
    column-gap: 10px;
  }
  .home {
    width: unset;
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    color: var(--black);
  }
  .header {
    z-index: 2;
    position: fixed;
    background-color: white;
    width: 100%;
    padding: 20px 20px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  }
  .logotype {
    outline: none;
  }
  .logotype img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  .menu .logotype {
    margin-bottom: 40px;
  }
  .menu .logotype .home {
    color: #81ceff;
    outline: none;
  }
  .mobileLinks {
    text-transform: uppercase;
  }
  .mobileLinks .link {
    display: block;
    margin-bottom: 10px;
  }
}

@media (min-width: 1190px) {
  .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    white-space: wrap;
  }
  .links a:not(:last-of-type) {
    margin-right: 20px;
    min-width: 90px;
  }
  .home {
    font-size: 18px;
  }
  .home:hover {
    cursor: pointer;
  }
  .menu {
    display: none;
  }
}
