.tabs{
    display: flex;
    align-items: stretch;
    border-radius: 10px;
    overflow: hidden;
}

.tabs:global(.default){
    border: 1px solid var(--darkGrey);
    color: var(--darkGrey);
}

.tabs:global(.white){
    border: 1px solid var(--white);
    color: var(--white);
}

.tabs .tab{
    flex: 1;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.tabs:global(.default) .tab.active{
    background-color: var(--mainBlue);
    color: var(--white);
}

.tabs:global(.white) .tab.active{
    background-color: var(--white);
    color: var(--mainBlue);
}