.news {
  padding: 60px 20px;
}

.post {
  position: relative;
  display: grid;
  border-radius: 10px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
  background-color: var(--mainBlue);
  justify-content: space-between;
}

.posts :global(.slick-slide) {
  padding: 0 16px;
}

.post img {
  width: 100%;
  object-fit: cover;
  height: 200px;
  vertical-align: middle;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.content {
  padding: 20px;
  font-size: 14px;
}

.content p {
  margin-top: 0;
  color: white;
  margin-top: auto;
}

.content a {
  color: var(--mainBlue);
  text-decoration: underline;
}

.tag {
  position: absolute;
  top: -18px;
  right: 14px;
  font-size: 14px;
  line-height: 36px;
  background-color: var(--mainBlue);
  color: var(--white);
  border-radius: 10px;
  padding: 0 16px;
}

.tabs {
  margin-bottom: 64px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.arrow {
  appearance: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px var(--lightBlue) solid;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  color: var(--mainBlue);
}

.arrow svg {
  display: block;
}

.count {
  width: 96px;
  text-align: center;
}

.countCurrent {
  color: var(--darkGrey);
  font-size: 14px;
}

.countTotal {
  font-size: 18px;
}

.more {
  display: block;
  margin: auto;
  margin-top: 32px;
  width: fit-content;
  text-align: center;
  text-decoration: underline;
  font-size: 14px;
  color: var(--darkGrey);
}

.extra {
  display: none;
}
.extra:first-child {
  display: block;
}

@media screen and (min-width: 450px) {
  .news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "a b b";
    gap: 48px;
    padding: 100px 80px;
    background-color: var(--lightGrey);
  }
  .tabs {
    display: none;
  }
  .posts {
    margin-right: -80px;
  }
  .desktop {
    display: block;
    grid-area: a;
  }
  .desktop p {
    margin: 24px 0;
  }

  .extra {
    display: block;
  }
  .wrap {
    grid-area: b;
  }
  .down {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .more {
    margin: 0;
  }
  .content {
    color: var(--white);
    background-color: var(--mainBlue);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .content p {
    color: var(--white);
  }
  .content a {
    color: var(--lightBlue);
  }
}
