.partners {
  display: flex;
  flex-direction: column;
  padding: 60px 80px;
}

.title {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 700;
}
.title span {
  margin-left: 10px;
}
.title svg {
  display: block;
  color: var(--mainBlue);
}

.logos {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  row-gap: 20px;
  margin-top: 40px;
}

.logo {
  justify-self: center;
}

.logo img {
  max-width: 90px;
}

@media screen and (max-width: 767px) {
  .partners {
    display: flex;
    flex-direction: column;
    padding: 60px 20px;
  }
  .title {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
  }

  .title svg{
    height: 24px;
    width: 24px;
  }
  .logos {
    overflow-y: hidden;
    column-gap: 20px;
    display: flex;
  }
  .logos a{
    margin: 0 10px;
  }
  .logos::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .logos {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
