.partners {
  display: flex;
  flex-direction: column;
  padding: 60px 80px;
}

.title {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 38px;
  font-weight: 700;
}
.title span {
  margin-left: 10px;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}
