.template{
  padding: 180px 80px 100px;
}

.back{
  margin-bottom: 20px;
  cursor: pointer;
}
.content{
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 100px;
}

@media screen and (max-width: 767px) {
  .template{
    padding: 120px 20px 20px;
  }
  .content{
    display: grid;
    grid-template-columns: 1fr;
  }
}