.title {
  display: flex;
  align-items: flex-start;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}

.title svg {
  display: block;
  color: var(--lightBlue);
  height: 24px;
  width: 24px;
}

.title span {
  margin-left: 8px;
  width: calc(100% - 32px);
}

.header {
  background-color: var(--mainBlue);
  color: var(--white);
  padding: 32px 20px;
}

.body {
  padding: 20px;
}

.question {
  display: flex;
}

.response {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 22px;
}

.more {
  display: block;
  margin-top: 20px;
  border: 1px solid var(--lightBlue);
  color: var(--mainBlue);
  border-radius: 10px;
  max-width: 180px;
  text-align: center;
  padding: 10px 20px;
  font-weight: 400;
  cursor: pointer;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 0;
}


.item:not(:last-of-type) {
  border-bottom: 1px var(--lightGrey) solid;
}

.itemNumber {
  font-size: 14px;
  color: var(--darkGrey);
  width: 20px;
  margin-right: 8px;
}

.itemTitle {
  color: var(--black);
  font-size: 12px;
  font-weight: bold;
  width: calc(100% - 60px);
  transition: color 0.1s ease-in-out;
}

.question:hover .itemTitle, .question:hover .itemChevron{
  color: var(--mainBlue);
  cursor: pointer;
}

.isOpen{
  color:var(--mainBlue); 
}

.itemChevron {
  width: 24px;
  display: block;
  margin-left: 8px;
  color: var(--darkGrey);
}

@media(max-width: 991px){
  .faq{
    display: block !important;
  }

  .title svg{margin-top: 0 !important;}
}

@media screen and (min-width: 450px) {
  .faq {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "a b b";
    gap: 48px;
    padding: 100px 80px;
  }
  .faqPage{
    
  }
  .header {
    display: block;
    grid-area: a;
    background-color: transparent;
    color: inherit;
  }
  .title {
    font-size: 28px;
  }
  .title svg {
    color: var(--mainBlue);
    margin-top: 8px;
    height: 40px;
    width: 40px;
  }
  .body {
    grid-area: b;
  }
  .item {
    border-bottom: 1px var(--lightBlue) solid !important;
  }
  .itemNumber {
    font-size: 36px;
    font-weight: bold;
    color: var(--lightBlue);
    width: 32px;
    margin-right: 16px;
  }
  .itemNumber::after {
    content: ".";
  }
  .itemTitle {
    font-size: 20px;
    font-weight: 400;
    width: calc(100% - 80px);
  }
}
