.qualifications {
  padding: 100px 80px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 30px;
  background-color: var(--mainBlue);
}

.left {
  display: flex;
  font-size: 38px;
}

.icon {
  color: #ffffff;
}

.icon svg {
  height: 40px;
  width: 40px;
}

.title {
  display: flex;
  color: white;
  font-weight: 700;
  font-size: 38px;
  text-transform: uppercase;
  align-items: center;
  align-items: flex-start;
  margin-bottom: 80px;
}
.title span {
  padding-left: 10px;
}

.text {
  color: white;
  margin-bottom: 40px;
}

.eduProgram {
  font-size: 24px;
  font-weight: 400;
  color: white;
}

.eduProgram span {
  text-decoration: underline;
  margin-left: 10px;
}
.eduProgram div {
  display: flex;
  align-items: center;
}

.eduProgramButton {
  text-transform: uppercase;
}

@media screen and (max-width: 450px) {
  .qualifications {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
  }
  .title {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .icon svg {
    height: 24px;
    width: 24px;
  }

  .text {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    color: white;
  }
  .button {
    text-align: center;
    margin-top: 40px;
    padding: 10px 15px;
    font-size: 14px;
    color: var(--black);
    background: white;
    border-radius: 10px;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
  }
  .eduProgram {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: white;
  }
  .eduProgram span {
    margin-left: 10px;
    text-decoration: underline;
  }
  .title svg {
    width: 24px;
    height: 24px;
  }
  .eduProgram svg {
    width: 24px;
    height: 24px;
  }
  .eduProgramButton {
    align-self: flex-start;
    font-size: 12px;
  }
}
