.hero {
  z-index: 1;
  background-color: var(--mainBlue);
  margin-top: -1px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 120px 80px 180px;
  display: flex;
}
.image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.heroImage {
  width: 620px;
  height: 540px;
  background-image: url("/img/hero.jpg");
  background-size: cover;
  border-radius: 50px;
  box-shadow: 2px 2px 15px 0px #00000020;
  margin-right: 100px;
}

.heroSymbol {
  position: absolute;
  top: 0;
  right: -20px;
}

.quote {
  padding: 60px 0px 30px;
  font-size: 32px;
  line-height: 40px;
  font-weight: 300;
  color: white;
  font-style: italic;
}

.credentialsMobile {
  display: none;
}

.author {
  padding: 0 20px 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--lightBlue);
  text-transform: uppercase;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
.subtitle {
  color: white;
  font-size: 20px;
  line-height: 14px;
  padding: 8px 20px 0;
  font-weight: 300;
}
.controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 40px 0;
}
.controls div {
  cursor: pointer;
}
.controls div:last-child {
  margin-left: 20px;
}

.dots {
  display: none;
  align-items: center;
  margin: 0 20px;
}
.dots div {
  width: 10px;
  height: 10px;
  background-color: #81ceff;
  border-radius: 10px;
}
.dots div.selected {
  background-color: white;
}

@media screen and (max-width: 450px) {
  .hero {
    margin-top: -1px;
    padding: 150px 20px 20px;
    flex-direction: column;
  }
  .image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

  .heroImage {
    width: 100%;
    height: 300px;
    background-image: url("/img/hero.jpg");
    background-size: cover;
    border-radius: 50px;
    box-shadow: 2px 2px 15px 0px #00000020;
  }

  .heroSymbol {
    position: absolute;
    bottom: -30px;
    left: 0;
    top: unset;
  }

  .quote {
    padding: 60px 0 30px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    color: white;
  }

  .credentials {
    display: none;
  }
  .credentialsMobile {
    display: block;
  }

  .author {
    padding: 0 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
  }
  .subtitle {
    color: white;
    font-size: 12px;
    line-height: 14px;
    padding: 4px 0 0;
    font-weight: 300;
  }
  .controls {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 40px 0;
  }
  .controls div:last-child {
    margin-left: unset;
  }
  .dots {
    display: flex;
    align-items: center;
    margin: 0 20px;
  }
  .dots div {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background-color: #81ceff;
    border-radius: 10px;
  }
  .dots div:last-child {
    margin-right: 0;
  }
  .dots div.selected {
    background-color: white;
  }
}
