.aboutUs {
  padding: 100px 80px;
}

.title {
  display: flex;
  font-size: 28px;
  color: var(--black);
  font-weight: 700;
  text-transform: uppercase;
  align-items: center;
}
.title span {
  margin-left: 10px;
}
.title svg {
  height: 30px;
  width: 23px;
}

.gridAboutUs {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 70px;
}

@media(max-width: 991px){
  .gridAboutUs{
    display: block !important;
  }

  .links{
    height: auto !important;
    display: block !important;
  }

  .linkTag{
    margin-bottom: 35px !important;
  }
}


.linkTag {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 15px 10px 0;
  font-size: 26px;
  border-radius: 10px;
  font-weight: 300;
  width: 100%;
}

.linkTag img {
  width: 33px;
  height: 33px;
}
.selected {
}

.quote {
  background-image: url("/img/q.svg");
  background-size: cover;
  width: 30px;
  height: 24px;
  margin-bottom: 20px;
}

.quote:last-of-type {
  transform: rotate(180deg);
  margin-left: auto;
}
.card {
  box-shadow: 0px 5px 40px 0px #00000020;
  border-radius: 10px;
  padding: 64px 69px;
}
.card .missionTitle {
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 50px;
  color: var(--mainBlue);
}
.card .missionText {
  font-size: 18px;
  line-height: 32px;
  text-indent: 40px;
}
.more {
  display: block;
  margin-top: 40px;
  border: 1px solid var(--lightBlue);
  color: var(--mainBlue);
  border-radius: 10px;
  max-width: 180px;
  text-align: center;
  padding: 10px 20px;
  font-weight: 400;
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 500px;
}

.linkTag {
  text-align: left;
  cursor: pointer;
  display: flex;
}

.linkTag span {
  margin-left: 25px;
}

.selected {
  color: var(--mainBlue);
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .aboutUs {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
  }
  .title {
    font-size: 20px;
  }
  .title svg {
    height: unset;
    width: unset;
  }

  .wrapper {
    display: grid;
    margin-top: 40px;
  }
  .links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    height: unset;
  }
  .linkTag {
    display: flex;
    justify-content: left;
    text-align: center;
    padding: 10px 15px;
    font-size: 14px;
    color: var(--darkGrey);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-weight: 300;
    width: 100%;
    text-decoration: unset;
  }
  .selected {
    color: white;
    background: var(--mainBlue);
  }
  .linkTag:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .mission {
    margin-top: 45px;
  }

  .missionTitle {
    display: flex;
    align-items: center;
  }
  .missionTitle span {
    margin-left: 10px;
  }
  .missionText {
    font-size: 14px;
    margin-top: 30px;
    font-weight: 400;
    color: #454545;
  }
}
