.gallery{
    padding: 60px 20px;
    background-color: var(--mainBlue);
    color: var(--white);
}

.photoBlock{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}



.photoBlock img{
    width: 100%;
    display: block;
}

.photoBlock::after{
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    /* background: linear-gradient(180deg, rgba(128, 128, 128, 0) 0%, rgba(3, 3, 3, 0.8) 100%); */
}

.select{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--white);
    color: var(--black);
}

.select_collapse{
    margin-top: 32px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 32px;
}
.select_container{
    transition: 0.3s all;
    height: 100%;
}

.zoom{
    position: absolute;
    bottom: 24px;
    right: 24px;
    z-index: 1;
}

.photoLabel{
    font-size: 20px;
    font-weight: 300;
    width: calc(100% - 106px);
}

.photoBlockControls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 32px;
}

.photoBlockArrows{
    position: absolute;
    display: flex;
    right: 10%;
    bottom: -10px;
}
.wrap{
    position: relative;
}
.slick-list{
    max-width: 800px !important;
}
.arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px var(--lightBlue) solid;
    border-radius: 50%;
    height: 47px;
    width: 47px;
    margin: 0 10px;
}

.arrow svg{
    display: block;
    width: 20px;
    height: 20px;
}

.desktop{
    display: none;
}
.block{
    display: inline-block;
    width: 45%;
    padding: 0 5%;
    height: 100%;
    vertical-align: top;
    position: relative;
}
@media screen and (max-width: 720px){
    .block{
        width: 100%;
    }
    .photoBlockArrows{
        bottom: 0;
        right: 0;
    }
}
/* 192.168.1.20 */
@media screen and (min-width: 450px) {
    .gallery{
        display: block;
        /* display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "a b b";
        gap: 48px;
        padding: 100px 80px; */
    }
    .mobile{
        display: none;
    }
    .desktop{
        display: block;
        grid-area: a;
    }
    .desktop p{
        margin: 24px 0;
    }
    .wrap{
        /* grid-area: b; */
    }
}