.footer {
  background-color: var(--lightGrey);
  width: 100%;
  padding: 20px 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 300px;
  row-gap: 50px;
  align-items: center;
}

.subtitle {
  width: 354px;
  margin-top: 7px;
  font-size: 20px;
  font-weight: 300;
  color: var(--black);
}

.lang {
  display: flex;
  height: fit-content;
  padding: 8px 10px;
  border-radius: 5px;
  justify-content: space-between;
  justify-self: flex-end;
  background: #ffffff;
  box-shadow: 0px 4px 5px 0px #00000010;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  height: 57px;
  width: 180px;
}

.lang img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.dropdownbtn {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 100%;
  justify-self: flex-end;
}

.dropdownbtn span {
  margin-right: 15px;
  margin-left: 15px;
}
.dropdown {
  right: 0;
  position: absolute;
  top: 100%;
  background-color: #ebebeb;
  cursor: pointer;
  opacity: 100;
  z-index: 100;
}


.contacts {
  display: grid;
  row-gap: 12px;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 20px;
}

.contacts a {
  color: var(--mainBlue);
}

.address > div,
.phone > div,
.email > div {
  display: inline;
  font-weight: bold;
}

.socials {
  display: flex;
}
.socials a {
  margin-right: 18px;
}
.socials a:last-child {
  margin-right: 0;
}

.socialLogo {
  display: flex;
  height: 71px;
  width: 71px;
  background-color: var(--mainBlue);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

.copyright {
  font-size: 20px;
  font-weight: 300;
  color: var(--black);
  margin-top: 50px;
}

.toTop {
  display: flex;
  font-weight: 300;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  font-size: 24px;
  color: var(--black);
  cursor: pointer;
  align-self: flex-end;
}

.toTop svg {
  width: 40px;
  height: 55px;
}
@media screen and (max-width: 450px) {
  .footer {
    background-color: var(--lightGrey);
    width: 100%;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    row-gap: 35px;
    column-gap: 20px;
  }

  .subtitle {
    width: unset;
    margin-top: 7px;
    font-size: 10px;
    font-weight: 300;
    color: var(--darkGrey);
  }

  .lang {
    display: flex;
    height: fit-content;
    padding: 8px 10px;
    border-radius: 5px;
    justify-content: space-between;
    justify-self: flex-end;
    background: #ffffff;
    box-shadow: 0px 4px 5px 0px #00000010;

    align-items: center;
    font-weight: 700;
    font-size: 12px;
    width: 100px;
  }
  .lang img {
    width: 12px;
    height: 12px;
  }

  .contacts {
    display: grid;
    row-gap: 8px;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 12px;
  }

  .address > div,
  .phone > div,
  .email > div {
    display: inline;
    font-weight: bold;
  }

  .socials {
    display: flex;
  }
  .socials a {
    margin-right: 18px;
  }
  .socials a:last-child {
    margin-right: 0;
  }

  .socialLogo {
    display: flex;
    width: unset;
    height: unset;
    padding: 12px;
    background-color: var(--mainBlue);
    border-radius: 100%;
    justify-content: center;
    align-items: center;
  }

  .socialLogo svg {
    height: 24px;
    width: 24px;
  }

  .copyright {
    font-size: 12px;
    font-weight: 300;
    color: var(--darkGrey);
    margin-top: 20px;
  }

  .toTop {
    display: flex;
    font-size: 12px;
    font-weight: 300;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    color: var(--darkGrey);
  }
}
