.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.divStyle{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.embedStyle{
  width: 300px;
  height: 400px;
  margin: 10px;
}

.galleryContainer{
  padding: 180px 80px 100px;
}

.eduProgramButton {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  display: flex;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 20px;
}

.eduProgramButton:hover{
  color: var(--mainBlue);
}

.eduProgramButton span {
  text-decoration: underline;
  margin-left: 10px;
}


@media(max-width: 767px){
  .divStyle{
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .galleryContainer{
    padding: 100px 0 0;
  }

  .embedStyle{
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 992px){
  .embedStyle{
    width: 200px;
  }
}
